header {
    background: url('../img/head-bg.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
    min-height: 980px;
    .text-block {
        padding-top: 290px;
        h1 {
            font-size: 30px;
            font-style: italic;
            font-weight: bold;
            text-transform: uppercase;
            padding-top: 10px;
            color: #fff;
            opacity: 0.6;
        }
        p {
            font-size: 23px;
            font-style: italic;
            padding-top: 65px;
            color: #fff;
            opacity: 0.6;
        }
    }
}